.chatActivityWrapper{
    background-color: white;
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    text-transform: capitalize;

    .updatePush {
        background-color: #7f387d;
        color: #ffffff;
        padding: 5px;
    }
    .chatBubblesOption {
        padding-left: 5px;
    }
    .textbox {
        background: #ccc;
        padding: 5px;
        width: 400px;
    }
}

.chatActivityRadio{
    display: flex;
 
}












