.chatBubbleWrapper{
    background-color: #7f387d;
    // max-width: 160px;
    width: 40%;
    border-radius: 8px;
    padding: 10px 14px;
    color: #fff; 
    font-size: 1.1em;   
    text-align: left;
}

.chatBubbleWrapperRight{
   margin-left: auto;
   background: #ffffff;
   color: #252424;
}