.chatActivityWrapper{
    background-color: white;
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    text-transform: capitalize;

    button.updatePush {
        background-color: gray;
    }
}

.chatActivityRadio{
    display: flex;
 
}












